body {
    font-family: Arial, sans-serif;
    background-color: #C2A081;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C9C9C9;
    padding: 10px 20px;
}

nav .logo,
nav .welcome {
    color: #fff;
    text-decoration: none;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    max-height: 40px;
    max-width: 150px;
}

.text-container {
    text-align: center;
}

.large-text {
    font-size: 40px;
    font-weight: bold;
}

.small-text {
    font-size: 25px;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    max-height: 50%;
    max-width: 50%;
}

.logo img {
    max-height: 40px;
    max-width: 150px;
}